{% extends 'main/shop/products.html' %}
{% load static %}

{% block add-style-link %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block red %}
{% endblock %}

{% block nav-link %}
    <ul class="flex justify-center md:justify-normal mt-2 font-bold text-lg">
        <li><a href="{% url 'shop' %}">Shop</a></li>
        <li class="ml-8"><a href="{% url 'sign_out' %}">Sign Out</a></li>
    </ul>
{% endblock %}

{% block mobile %}
    <li class="mt-14"><a href="{% url 'shop' %}">Shop</a></li>
    <li class="mt-4"><a href="{% url 'sign_out' %}">Logout</a></li>
{% endblock %}

{% block profileHeader %}
        <!--HEADER FOR MOBILE VIEW-->
        <form method="POST" class="container max-w-full sticky top-0">
        <header class="flex container border-b-2 rounded-b-md pb-1 shadow-sm sticky pt-1 top-0 max-w-full md:justify-between bg-gray-50 text-black mt-2 md:hidden">
            <a id="menu" class="flex-1 hover:cursor-pointer ml-1 mt-1 "><i class="fas fa-regular fa-bars fa-2x"></i></a>
            <h1 class="text-2xl font-bold mr-5">Profile</h1>
        </header>
        </form>
{% endblock %}






{% block content %}
    <div class="container max-w-full mt-16 md:flex">
        <div class="md:border-black md:border-r-2 md:mr-10  md:px-10 md:container md:max-w-72" >
            <div class="items-center flex flex-col md:flex-row ">
                <div class="">
                    <img class="w-36 h-36 items-center rounded-full bg-gray-900" src="{% static 'img/profile.jpg' %}" alt="">
                    <h1 id="full_name" class="text-2xl mt-4 font-bold">{{user.first_name}} {{user.last_name}}</h1>
                </div>
            </div>
            <div class="md:block hidden md:mt-10 font-bold text-xl mb-20" >
                <ul>
                    <li><a class="hover:cursor-pointer" onclick="personal(this)">Personal Info</a></li>
                    <li class="mt-4"><a class="hover:cursor-pointer" onclick="transaction(this)">Transaction</a></li>
                </ul>
            </div>
        </div>
        <hr class="border-2 mt-10 md:hidden">
        <div class="md:mt-14 md:block" id="personal-info">
            <div class="">
                <h1 id="notif" class="text-red-500 hidden">Email Address must have @gmail.com</h1>
                <h1 class="text-start font-bold text-xl md:text-2xl">Personal Info</h1>
                <form method="POST" class="pt-5 flex flex-col items-center md:mt-3 md:ml-3">
                    {% csrf_token %}
                    <div>
                        <label class="text-md font-bold mr-10" for="full-name">Email:</label>
                        <input id="email" class="md:w-96 w-60 h-8 border border-black pl-1" name="full-name" type="text" value-current-email="{{user.username}}" value="{{user.username}}" disabled>
                    </div>
                    <div class="mt-3">
                        <label class="text-md font-bold" for="full-name">First Name:</label>
                        <input id="first_name" class="md:w-96 w-60 h-8 border border-black pl-1" name="full-name" type="text" value="{{user.first_name}}" disabled>
                    </div>
                    <div class="mt-3">
                        <label class="text-md font-bold" for="full-name">Last Name:</label>
                        <input id="last_name" class="md:w-96 w-60 h-8 border pl-1 border-black" name="full-name" type="text" value="{{user.last_name}}" disabled>
                    </div>
                    <div class="flex mt-5">
                        <button id="editt_button" type="button" class="mr-10 w-24 text-white h-8 bg-slate-950" onclick="edit_buttonn(this)">Edit</button>
                        <button id="save-button" class="w-28 h-8 bg-green-500 hidden" type="button">Save</button>
                    </div>
                    <button type="button" class="bg-slate-950 font-bold mt-7 text-white w-56 h-9" onclick="show_changePassword()">Change Passowrd</button>
                </form>
            </div>
        </div>


        <!--Change Password-->
        <div id="change-password" class="container absolute content-center top-0 max-w-full h-screen hidden" style="background-color: rgba(0, 0, 0, 0.322);">
            <div class="w-10/12 md:w-2/6 pt-5 bg-white h-96 ml-7 md:ml-96 rounded-xl relative">
                <a onclick="close_changePassword()" class="absolute right-0 text-xl mr-5 font-bold hover:cursor-pointer">X</a>
                <h1 class="text-center font-bold">Change Password</h1>
                <form method="POST" class="flex flex-col md:item items-center mt-5">
                    {% csrf_token %}
                        <label class="mt-3" for="current-password">Password</label>
                        <input required class="border border-black rounded-lg pl-1 md:w-72 md:h-8" type="password" id="current-password" name="password">
                        <label class="mt-3" for="new-password md">Current Password</label>
                        <input required class="border border-black rounded-lg pl-1 md:w-72 md:h-8" type="password" id="new-password" name="new-password">
                        <label class="mt-3" for="confirm-password">Confirm New Password</label>
                        <input required class="border border-black rounded-lg pl-1 md:w-72 md:h-8" type="password" id="confirm-password" name="confirm-password">

                        <button id="button-change-password" class="mt-6 bg-slate-950 text-white w-44 h-9 rounded-md " type="submit">Change Password</button>
                        <h1 id="notif-change-pass" class="text-red-500 text-sm  mt-2">{{notif}}</h1>
                        
                </form>
            </div>
        </div>



        <!--Transaction-->
        <div id="Transaction" class="md:mt-10 hidden container">
            <h1 class="text-2xl font-bold">Transaction</h1>
            <div id="card-transaction">
                <table>
                    <tr class="border border-black ">
                        <th class="px-10 border border-black">Transaction No.</th>
                        <th class="px-10 border border-black">Status</th>
                        <th class="px-10 border border-black">Total Price</th>
                        <th class="px-10 border border-black">Items</th>
                    </tr>
                {% for transaction in transactions %}
                    <tr class="border border-black">
                        <td class="border px-4 border-black">{{transaction.transaction_invoice}}</td>
                        <td class="border px-4 border-black">{{transaction.transaction_order_status}}</td>
                        <td class="border px-4 border-black">{{transaction.transaction_total_price}}</td>
                        <td class="border px-4 text-center border-black"><button value-invoice="{{transaction.transaction_invoice}}" class="bg-slate-950 text-white w-full font-bold" onclick="view_button(this)">View</button></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>



<script>
    const change_password = document.querySelector('#change-password')

    change_password.addEventListener('submit', (event) => {
        const new_password = document.querySelector('#new-password')
        const confirm_password = document.querySelector('#confirm-password')

        event.preventDefault()
        if (new_password.value == confirm_password.value){
            event.target.submit()
        }else{
            document.querySelector('#notif-change-pass').textContent = 'New Password and Confirm Password must match'
        }
    })


    function show_changePassword(){
        change_password.style.display = 'block'
    }

    function close_changePassword(){
        change_password.style.display = 'none'
    }




    const itemm = document.querySelectorAll('.itemm')
    function view_button(this_){
        const request = new XMLHttpRequest
        request.open('POST', 'http://127.0.0.1:8000/api/transaction/get-item')
        request.setRequestHeader('Content-Type', 'application/json')
        request.send(JSON.stringify({'invoice_number' : this_.getAttribute('value-invoice')}))
        request.onloadend = () => {
            if (request.status == 200){
                response = JSON.parse(request.responseText)
                let item_elemets = ``

                for(let i=0; i < response['length']; i++){
                    let item = response['item_list'][i]

                    item_elemets = item_elemets + `
                        <div class='mt-2'>
                            <div class="mt-5 ml-5 flex mb-5" id="card-item">
                                <img class="w-24" src="${item[0]}" alt="">
                                <div class="text-xl">
                                    <h1>Item Name: ${item[1]}</h1>
                                    <h1 class="mt-4 mb-5">Quantity: ${item[2]}</h1>
                                    <div class="flex">
                                        <h1 class="mr-10">Price: ${item[3] / item[2] }</h1>
                                        <h1>Total Price: ${item[3]}</h1>
                                    </div>
                                </div>
                            </div>
                            <hr class="border-2">
                        </div>
                    `
                }
                
                const new_div = document.createElement('div')
                new_div.classList.add('container', 'absolute', 'max-w-full', 'h-screen', 'bg-t', 'top-0')
                new_div.id = 'modal'
                new_div.style = 'background-color: rgba(0, 0, 0, 0.178);'
                new_div.innerHTML = `
                        <div class="w-6/12 h-5/6 bg-white relative mt-16 ml-72 overflow-y-auto rounded-xl itemm">
                            <a class="absolute right-0 text-2xl mr-6 mt-3 hover:cursor-pointer font-bold" onclick="close_modal()">X</a>
                            <h1 class="text-2xl mt-10 ml-4 font-bold">Items</h1>
                            ${item_elemets}
                        </div>
                    `
                document.body.appendChild(new_div)
            }
        }
    }

    

    function close_modal(){
        const modal = document.querySelector('#modal')
        modal.remove()
    }


    const transaction_info = document.querySelector('#Transaction')
    const personal_info = document.querySelector('#personal-info')

    function transaction(this_){
        transaction_info.style.display = 'block'
        personal_info.style.display = 'none'
    }

    function personal(this_){
        transaction_info.style.display = 'none'
        personal_info.style.display = 'block'
    }



    const first = document.querySelector('#first_name')
    const last = document.querySelector('#last_name')
    const full_name = document.querySelector('#full_name')
    const email = document.querySelector('#email')
    const save_button = document.querySelector('#save-button')
    const editt_button = document.querySelector('#editt_button')
    const notif = document.querySelector('#notif')

    let currrent_email = email.getAttribute('value-current-email')

    save_button.addEventListener('click', () => {
        if (currrent_email == email.value){
            full_name.textContent = first.value + ' ' + last.value

            first.disabled = true
            last.disabled = true
            email.disabled = true
            save_button.style.display = 'none'
            editt_button.textContent = 'Edit'

            const request = new XMLHttpRequest
            request.open('POST', 'http://127.0.0.1:8000/api/profile/update')
            request.setRequestHeader('Content-Type', 'application/json')

            request.send(JSON.stringify({
                'first_name' : first.value,
                'last_name' : last.value,
                'email' : currrent_email,
            }))
        }else{
            if (String(email.value).includes('@gmail.com')){
                full_name.textContent = first.value + ' ' + last.value
                first.disabled = true
                last.disabled = true
                email.disabled = true
                save_button.style.display = 'none'
                editt_button.textContent = 'Edit'

                const request = new XMLHttpRequest
                request.open('POST', 'http://127.0.0.1:8000/api/profile/update')
                request.setRequestHeader('Content-Type', 'application/json')

                request.send(JSON.stringify({
                    'first_name' : first.value,
                    'last_name' : last.value,
                    'email' : String(email.value),
                }))
                notif.style.display = 'none'
            }else{
                notif.style.display = 'block'
            }
        }
    })

    function edit_buttonn(this_){
        if (first.disabled){
                first.disabled = false
                last.disabled = false
                email.disabled = false
                save_button.style.display = 'block'
                this_.textContent = 'Close'

        }else{
                first.disabled = true
                last.disabled = true
                email.disabled = true
                save_button.style.display = 'none'
                this_.textContent = 'Edit'
        }
    }


    const menu = document.querySelector('#menu')
    const menu_content = document.querySelector('#menu-content')
    const close_menu = document.querySelector('#close-menu')

    function display(element, value){
        element.style.display = value
    }

    menu.addEventListener('click', () => {
        display(menu_content, 'block')
    })

    close_menu.addEventListener('click', () => {
        display(menu_content, 'none')
    })

</script>
{% endblock %}

