{% extends 'main/base.html '%}
{% load static %}


{% block add-style-link %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}


{% block header %}
    <!--HEADER FOR DeskTop View-->
    <header class="container sticky top-0 max-w-full md:block hidden z-50 text-white bg-slate-950 py-2">
        <div  class="w-6 h-6 text-sm absolute right-4 rounded-full font-bold bg-red-500">
            <h1 id="counter" class="text-center hover:cursor-pointer" onclick="showCart()">{{item_count}}</h1>
        </div>
        <div class="flex flex-col md:flex-row">
            <h1 class="flex-1 text-3xl text-center md:text-left md:ml-5 ">Ecommerce Website</h1>
            <nav class="md:mr-10">
                {% block nav-link %}
                    <ul class="flex justify-center md:justify-normal mt-2 font-bold text-lg">
                    {% if login %}
                        <li><a href="#">Profile</a></li>
                        <li class="ml-8"><a href="{% url 'sign_out' %}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{% url 'sign_in' %}">Sign In</a></li>
                    {% endif %}
                        <li class="ml-8"><a class="hover:cursor-pointer" onclick="showCart()"> <i class="fas fa-shopping-cart fa-2x"></i> </a></li>
                    </ul>
                {% endblock %}
            </nav>
        </div>
    </header>



    <!--HEADER FOR MOBILE VIEW-->
    <form method="POST" class="container max-w-full sticky top-0">
    <header class="container border-b-2 rounded-b-md pb-1 shadow-sm sticky pt-1 top-0 max-w-full md:justify-between bg-gray-50 text-black mt-2 md:hidden">
        <div  class="w-5 h-4 text-sm absolute right-0 rounded-full font-bold bg-red-500">
            <h1 id="mobile-counter" class="text-center text-white" onclick="showCart()">{{item_count}}</h1>
        </div>
        <ul class="flex mx-2 justify-between">
            <li class="mr-1 mt-1"><a id="menu" class="hover:cursor-pointer"><i class="fas fa-regular fa-bars fa-2x"></i></a></li>
            {% csrf_token %}
            <input id="mobile-view-search" name="mobile-view-search" placeholder="Search" class="border-solid w-9/12 border-2 pl-1 h-10 rounded-md" type="text">
            <li class="ml-1"></li><a id="cart" class="hover:cursor-pointer mt-1"><i class="fas fa-shopping-cart fa-2x"></i></a></li>
        </ul>
    </header>
    </form>
{% endblock %}




{% block content %}

    <div class="container max-w-full h-96 hidden z-0 md:block bg-model-background-gray">
        <div class="w-80 h-80 rounded-full absolute bg-white top-34 right-20"></div>
        <h3 class="text-8xl absolute font-bold font-serif top-52 left-24 text-white">SHOP NOW!</h3>
        <div class="flex">
            <img class="text-right absolute top-13 right-60 w-64" src="{% static 'img/model3.png' %}" alt="">
        </div>
    </div>


    <!--Content Container-->
    <div id="content" class=" mt-2 flex-col">

        <!--SEARCH -->
        <div class="container max-w-full hidden md:block mt-3">
            <form class="flex justify-center" method="POST">
                {% csrf_token %}
                <input name="search" placeholder="Search" type="text" class="border-2 border-slate-500 pl-2 rounded-sm w-8/12 h-11 mr-5" >
                <button class="w-36 h-11 font-bold bg-slate-950 rounded-lg text-white">Search</button>
            </form>
        </div>
        
        <div id="product-categories" class="flex">
            
            <!--Categories-->
            <div id="categories" class=" border-2 rounded-tr-xl text text-right pt-1 pr-8 font-bold  mt-7 w-60 h-a hidden md:block bg-white">
                <h1 class="text-center mt-1">Categories</h1>
                {% for type in types %}
                    <h1 class="mt-2"><a class="hover:cursor-pointer" value-type="{{type}}" onclick="category_button(this)">{{type}}</a></h1>     
                {% endfor %}
            </div>

            <div id="product-col" class="md:flex container max-w-full flex-wrap">
                {% for item_list in items %}
                    <!--Card Container-->
                        {% for item in item_list %}
                            <!--card-->
                            <div id="card" class="container max-w-full md:max-w-80 mt-5 card-product" value-card="{{item.item_type}}">
                                <div id="image" value-type="{{item.item_type}}" class="flex flex-col items-center md:py-4 rounded-t-2xl border-2 mx-7 bg-white shadow-sm">
                                    <div id="size" class="w-6/12 md:w-7/12">
                                        <img src="{{ item.item_image.url }}" alt="jacket">
                                    </div>
                                </div>
                                <div class="flex rounded-b-2xl border-2 p-2 mx-7 bg-white shadow-sm">
                                    <div class="flex-1 flex flex-col md:text-md">
                                        <h1 class="text-center font-bold">{{ item.item_name }}</h1>
                                        <p class="mb-2">Price: {{ item.item_price }}</p>
                                        <p id="quantity-{{item.item_id}}" value-quantity="{{item.item_quantity}}" >Quantity: {{ item.item_quantity }}</p>
                                        <p class="text-center mt-3 mb-3"><button value-quantity="{{item.item_quantity}}" value-price="{{item.item_price}}"  value-name="{{item.item_name}}" value-id="{{item.item_id}}" value-image="{{ item.item_image.url }}" id="add-to-cart-button" class="bg-slate-950 w-32 h-10 rounded-full text-white" onclick="add_item(this)">Add To Cart</button></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                {% endfor %}
            </div>
            
            <!--For next page-->

        </div>
    </div>      

    

    <!--Cart-->
    <div id="cart-content" class="right-0 bottom-0 z-50 border-l-2 shadow-2xl rounded-l-2xl w-11/12 md:w-96 fixed h-screen hidden bg-white text-black">
           <div class="relative">
                <div  class="text-3xl absolute w-full font-bold top-7">
                    <h1 class="text-center">Cart</h1>
                </div>
                <div class="absolute right-0 font-bold mr-4 mt-4 text-lg"  id="close">
                    <h1 class="hover:cursor-pointer"><a id="close-cart">X</a></h1>
                </div>
           </div>


           <div id="cart-items" class="border-b-2 border-t-2 container max-w-full h-3/4 md:h-3/5 mt-20 pl-3 flex-col overflow-y-auto">

                {% for cart in cart_items %}
                    <hr class="mt-10 border-2 hr-{{cart.cart_id}}">
                    <div id="card-cart-item" class="h-20 mt-5 cart-{{cart.cart_id}} ">
                        <img class="w-1/5 float-start mr-7" src="{{ cart.item_info.item_image.url }}" alt="Error">
                        <div class="flex flex-col mt-2">
                            <a id="{{cart.cart_id}}" class="hover:cursor-pointer text-right font-bold mr-4" onclick="delete_item(this)">Remove</a>
                            <h1 class="mt-1">{{cart.item_info.item_name}}</h1>
                            <div class="mt-1">
                                <h1 id="cart-price-{{cart.cart_id}}" value-price="{{cart.item_info.item_price}}">Price: {{cart.cart_item_total_price}}</h1>

                                <button value-id="{{cart.cart_id}}" class="bg-slate-950 w-8 h-8 text-white rounded-md" onclick="reloaded_decrease_quantity(this)">-</button>
                                    <input id="cart-input-{{cart.cart_id}}" value-quantity="{{cart.item_info.item_quantity}}"     value-id="{{cart.cart_id}}" name='quantity-input' class="w-24 border-2 h-8 rounded-md text-center" value="{{cart.cart_item_quantity}}" type="number" onblur="cart_input(this)">
                                <button value-id="{{cart.cart_id}}" class="bg-slate-950 w-8 h-8 text-white rounded-md" onclick="reloaded_increase_quantity(this)">+</button>
                            
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <button id="place-order-button" class="rounded-md right-20 h-12 w-52 absolute bottom-10 bg-slate-950 text-white">Place Order</button>
           </div>
           <h1 class="text-xl text-center mt-7 font-bold">Total: </h1>
    </div>
    
    <!--Menu-->
    <div id="menu-content" class="right-0 bottom-0 border-l-2 shadow-2xl rounded-l-2xl w-11/12 md:w-96 fixed h-screen hidden bg-white text-black">
        <div class="relative">
            <div  class="text-3xl absolute w-full font-bold top-7">
                <h1 class="text-center">Menu</h1>
            </div>
                <div class="absolute right-0 font-bold mr-4 mt-4 text-lg"  id="close">
                 <h1 class="hover:cursor-pointer"><a id="close-menu">X</a></h1>
             </div>
             <nav class="absolute left-0 top-24 text-2xl ml-2">
                <ul class="flex flex-col container max-w-full">
                    {% if login %}
                        <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
                        <li class="mt-4"><a href="#">Profile</a></li>
                    {% else %}
                        <li><a href="{% url 'sign_in' %}">Sign In</a></li>
                    {% endif %}
                    <li class=" mt-4"><a href="#">Categories</a></li>
                </ul>
             </nav>
        </div>
    </div>

    <script>
        //Category Filter
        let selected = ''
        function category_button(this_){
            const cards = document.querySelectorAll('.card-product')

            cards.forEach(card => {
                if (String(card.getAttribute('value-card')).toLowerCase() != String(this_.getAttribute('value-type')).toLowerCase() && selected != String(this_.getAttribute('value-type')).toLowerCase()){
                    card.style.display = 'none'
                }else{
                    card.style.display = 'block'
                }
            })

            if (selected != ''){
                selected = ''
            }else{
                selected = String(this_.getAttribute('value-type')).toLowerCase()
            }
        }


        // PLACE ORDER
        const place_order_button = document.querySelector('#place-order-button')
        place_order_button.addEventListener('click', () => {
            const request = new XMLHttpRequest
            request.open('POST', '/api/cart/place-order/')
            request.setRequestHeader('Content-Type', 'application/json')
            request.send()

            request.onloadend = () => {
                if (request.status == 200){
                    window.location.href = JSON.parse(request.responseText)['url']
                }
            }
        })



        // Quantity

        function request_quantity(link, dict){
            const request = new XMLHttpRequest
            request.open('POST', link)
            request.setRequestHeader('Content-Type', 'application/json')
            request.send(JSON.stringify(dict))
        }

        function reloaded_increase_quantity(this_){
            const id = this_.getAttribute('value-id')
            const input = document.querySelector(`#cart-input-${id}`)
            const h1_price = document.querySelector(`#cart-price-${id}`)
            const price = h1_price.getAttribute('value-price')
            const quantity = input.getAttribute('value-quantity')
            
            if (parseInt(input.value) != parseInt(quantity)){
                input.value = parseInt(input.value) + 1
                h1_price.textContent = "Price: " + (price * parseInt(input.value))
            }

            request_quantity(
                'http://127.0.0.1:8000/api/cart/update-quantity/',
                {id : id, new_quantity : input.value }
            )
        }

        
        function cart_input(this_){
            const id = this_.getAttribute('value-id')
            const h1_price = document.querySelector(`#cart-price-${id}`)
            const quantity = this_.getAttribute('value-quantity')
            const price = h1_price.getAttribute('value-price')

            if (parseInt(this_.value) >= parseInt(quantity) || parseInt(this_.value) <= 0){
                this_.value = parseInt(quantity)
            }

            h1_price.textContent = "Price: " + (price * parseInt(this_.value))
            request_quantity(
                'http://127.0.0.1:8000/api/cart/update-quantity/',
                {id : id, new_quantity : this_.value }
            )
        }


        function reloaded_decrease_quantity(this_){
            const id = this_.getAttribute('value-id')
            const input = document.querySelector(`#cart-input-${id}`)
            const h1_price = document.querySelector(`#cart-price-${id}`)
            const price = h1_price.getAttribute('value-price')
            const quantity = input.getAttribute('value-quantity')
            
            if (parseInt(input.value) >= 2){
                input.value = parseInt(input.value) - 1
                h1_price.textContent = "Price: " + (price * parseInt(input.value))
            }

            request_quantity(
                'http://127.0.0.1:8000/api/cart/update-quantity/',
                {id : id, new_quantity : input.value }
            )
        }





        //  Quantity for the user did not reload the page
        //  Increate Quantiy
        function increase_quantity(this_){
            const id = this_.getAttribute('value-id')
            const quantity_textBox = document.querySelector(`#input-${id}`)
            const item_quantity = document.querySelector(`#quantity-${id}`)
            const price = document.querySelector(`#price-id-${id}`)
            const current_price = price.getAttribute('value-current-price')

            if (parseInt(quantity_textBox.value) != parseInt(item_quantity.getAttribute('value-quantity'))){
                quantity_textBox.value = parseInt(quantity_textBox.value) + 1
                price.textContent = "Price: " + (parseInt(quantity_textBox.value) * parseInt(current_price))
            }

            request_quantity(
                'http://127.0.0.1:8000/api/cart/update-quantity/',
                {id : id, new_quantity : quantity_textBox.value , new_item : true}
            )
        }



        //  Update Quantity
        function quantity_textBox(event, this_){
            const max_quantity = this_.getAttribute('value-quantity')
            const id = this_.getAttribute('value-id')
            const p_price = document.querySelector(`#price-id-${id}`)
            const current_price = p_price.getAttribute('value-current-price')

            if (parseInt(max_quantity) <= parseInt(this_.value) || parseInt(this_.value) <= 0){
                this_.value = max_quantity
            }

            p_price.textContent = "Price: " + (parseInt(current_price) * parseInt(this_.value))

            request_quantity(
                'http://127.0.0.1:8000/api/cart/update-quantity/',
                {id : id, new_quantity : this_.value, new_item : true}
            )
        }



        //  Decrease Quantity
        function decrease_quantity(this_){
            const id = this_.getAttribute('value-id')
            const quantity_textBox = document.querySelector(`#input-${id}`)
            const item_quantity = document.querySelector(`#quantity-${id}`)
            const price = document.querySelector(`#price-id-${id}`)
            const current_price = price.getAttribute('value-current-price')

            if (parseInt(quantity_textBox.value) >= 2){
                quantity_textBox.value = parseInt(quantity_textBox.value) - 1
                price.textContent = "Price: " + (parseInt(current_price) * parseInt(quantity_textBox.value))
            }

            request_quantity(
                'http://127.0.0.1:8000/api/cart/update-quantity/',
                {id : id, new_quantity : quantity_textBox.value , new_item : true}
            )
        }



        const cart = document.querySelector('#cart')
        const cart_content = document.querySelector('#cart-content')
        const close_cart = document.querySelector('#close-cart')

        const menu = document.querySelector('#menu')
        const menu_content = document.querySelector('#menu-content')
        const close_menu = document.querySelector('#close-menu')

        function display(element, value){
            element.style.display = value
        }

        function showCart(){
            display(cart_content, 'block')
            display(menu_content, 'none')
        }

        cart.addEventListener('click', () => {
            display(cart_content, 'block')
            display(menu_content, 'none')
        })


        close_cart.addEventListener('click', () => {
            display(cart_content, 'none')
        })


        menu.addEventListener('click', () => {
            display(menu_content, 'block')
            display(cart_content, 'none')
        })

        close_menu.addEventListener('click', () => {
            display(menu_content, 'none')
        })

        
        // Displaying Item on cart for the user did not reload the page
        const counter = document.querySelector('#counter')
        const mobile_counter = document.querySelector('#mobile-counter')
        async function add_item(_this){
            const request = new XMLHttpRequest
            await request.open('POST', 'http://127.0.0.1:8000/api/cart/add-item/', true)
            request.setRequestHeader('Content-Type', 'application/json')
            const id = _this.getAttribute('value-id')
            const name = _this.getAttribute('value-name')
            const price = _this.getAttribute('value-price')
            const quantity = _this.getAttribute('value-quantity')
       

            let mt = 'mt'
            if (counter.textContent != 0){
                mt = 'mt-16'
            }

            const new_card = document.createElement('div')
            new_card.classList.add('h-20', mt, `new_cart-${id}`)

            new_card.innerHTML = `
            <hr class="mt-10 border-2 hr-${id}">
                <div id="card-cart-item" class="h-20 mt-5 cart-${id} ">
                    <img class="w-1/5 float-start mr-7" src="${_this.getAttribute('value-image')}" alt="Error">
                    <div class="flex flex-col mt-2">
                        <a id="none" value-cart-id="${id}" class="hover:cursor-pointer text-right font-bold mr-4" onclick="delete_item(this)">Remove</a>
                        <h1 class="mt-1">${name}</h1>
                        <div class="mt-1 mb-1">
                                <p id="price-id-${id}" value-current-price="${price}">Price: ${price}</p>
                            <button class="bg-slate-950 w-8 h-8 text-white rounded-md" value-id="${id}" onclick="decrease_quantity(this)">-</button>
                                <input value-quantity="${quantity}" id="input-${id}" name='quantity-input' value-id="${id}" class="w-24 border-2 h-8 rounded-md text-center" value="1" type="number" autocomplete='off' onblur="quantity_textBox(event, this)">
                            <button class="bg-slate-950 w-8 h-8 text-white rounded-md" value-id="${id}" onclick="increase_quantity(this)">+</button>
                        </div>
                    </div>
                </div>
            `

            request.onload = ()=> {
                data = JSON.parse(request.responseText)
                if ( data['message'] == 'Please Login'){
                    window.location.href = 'http://127.0.0.1:8000/signin/'
                }
                if (request.status == 201){
                    document.querySelector('#cart-items').appendChild(new_card)
                    counter.textContent = parseInt(counter.textContent) + 1
                    mobile_counter.textContent = counter.textContent
                    counter.classList.add()
                }
            }
            request.send(JSON.stringify({id : _this.getAttribute('value-id')}))

        }


        async function delete_item(_this){
            const request = new XMLHttpRequest
            await request.open('POST', 'http://127.0.0.1:8000/api/cart/delete-item/')
            request.setRequestHeader('Content-Type', 'application/json')
            cart_id = _this.getAttribute('id')
            let remove_new_cart_div = 'no'

            if (cart_id == 'none'){
                remove_new_cart_div = 'yes'
                cart_id = _this.getAttribute('value-cart-id')
                request.send(JSON.stringify({item_id : cart_id}))
            }else{
                request.send(JSON.stringify({cart_id : cart_id}))
            }
            
            if (cart_id){
                counter.textContent = parseInt(counter.textContent) - 1
                mobile_counter.textContent = counter.textContent
                document.querySelector(`.cart-${cart_id}`).remove()
                document.querySelector(`.hr-${cart_id}`).remove()
                if (remove_new_cart_div == 'yes'){
                    document.querySelector(`.new_cart-${cart_id}`).remove()
                }
            }
        }
    </script>
{% endblock %}
