{% extends 'main/base.html '%}
{% load static %}


{% block add-style-link %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}


{% block header %}
    <!--HEADER FOR DeskTop View-->
    <header class="container sticky top-0 max-w-full md:block hidden z-50 text-white bg-slate-950 py-2">
        <div class="flex flex-col md:flex-row">
            <h1 class="flex-1 text-3xl text-center md:text-left md:ml-5 ">Ecommerce Website</h1>
            <nav class="md:mr-10">
                {% block nav-link %}
                    <ul class="flex justify-center md:justify-normal mt-2 font-bold text-lg">
                    {% if login %}
                        <li><a href="#">Profile</a></li>
                        <li class="ml-8"><a href="{% url 'sign_out' %}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{% url 'sign_in' %}">Sign In</a></li>
                    {% endif %}
                        <li class="ml-8"><a class="hover:cursor-pointer" onclick="showCart()"> <i class="fas fa-shopping-cart fa-2x"></i> </a></li>
                    </ul>
                {% endblock %}
            </nav>
        </div>
    </header>



    <!--HEADER FOR MOBILE VIEW-->
    <form method="POST" class="container max-w-full ">
    <header class="container border-b-2 rounded-b-md pb-1 shadow-sm sticky top-0 max-w-full md:justify-between bg-gray-50 text-black mt-2 md:hidden">
        <ul class="flex mx-2 justify-between">
            <li class="mr-1 mt-1"><a id="menu" class="hover:cursor-pointer"><i class="fas fa-regular fa-bars fa-2x"></i></a></li>
            {% csrf_token %}
            <input id="mobile-view-search" name="mobile-view-search" placeholder="Search" class="border-solid w-9/12 border-2 pl-1 h-10 rounded-md" type="text">
            <li class="ml-1"></li><a id="cart" class="hover:cursor-pointer mt-1"><i class="fas fa-shopping-cart fa-2x"></i></a></li>
        </ul>
    </header>
    </form>
{% endblock %}




{% block content %}

    <div class="container max-w-full h-96 hidden z-0 md:block bg-model-background-gray">
        <div class="w-80 h-80 rounded-full absolute bg-white top-34 right-20"></div>
        <h3 class="text-8xl absolute font-bold font-serif top-52 left-24 text-white">SHOP NOW!</h3>
        <div class="flex">
            <img class="text-right absolute top-13 right-60 w-64" src="{% static 'img/model3.png' %}" alt="">
        </div>
    </div>


    <!--Content Container-->
    <div id="content" class=" mt-2 flex-col">

        <!--SEARCH -->
        <div class="container max-w-full hidden md:block mt-3">
            <form class="flex justify-center" method="POST">
                {% csrf_token %}
                <input name="search" placeholder="Search" type="text" class="border-2 border-slate-500 pl-2 rounded-sm w-8/12 h-11 mr-5" >
                <button class="w-36 h-11 font-bold bg-slate-950 rounded-lg text-white">Search</button>
            </form>
        </div>
        
        <div id="product-categories" class="flex">
            
            <!--Categories-->
            <div id="categories" class=" border-2 rounded-tr-xl text text-right pt-1 pr-8 font-bold  mt-7 w-60 h-a hidden md:block bg-white">
                <h1 class="text-center mt-1">Categories</h1>
                {% for type in types %}
                    <h1 class="mt-2"><a class="hover:cursor-pointer">{{type}}</a></h1>     
                {% endfor %}
            </div>

            <div id="product-col" class="md:flex md:flex-col">
                {% for item_list in items %}
                    <!--Card Container-->
                    <div id="items-container" value="{{forloop.counter}}" class=" mt-2 md:flex md:flex-1">
                        {% for item in item_list %}
                            <!--card-->
                            <div id="card" class="container max-w-full md:max-w-80 mt-5">
                                <div id="image" class="flex flex-col items-center md:py-4 rounded-t-2xl border-2 mx-7 bg-white shadow-sm">
                                    <div id="size" class="w-6/12 md:w-7/12">
                                        <img src="{{ item.item_image.url }}" alt="jacket">
                                    </div>
                                </div>
                                <div class="flex rounded-b-2xl border-2 p-2 mx-7 bg-white shadow-sm">
                                    <div class="flex-1 flex flex-col md:text-md">
                                        <h1 class="text-center font-bold">Name: {{ item.item_name }}</h1>
                                        <p>Price: {{ item.item_price }}</p>
                                        <p>Quantity: {{ item.quantity }}</p>
                                        <p class="text-center"><button value-id="{{item.item_id}}" id="add-to-cart-button" class="bg-slate-950 w-32 h-10 rounded-full text-white" onclick="add_item(this)">Add To Cart</button></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            
            <!--For next page-->
            <div>

            </div>

        </div>
    </div>      

    

    <!--Cart-->
    <div id="cart-content" class="right-0 bottom-0 z-50 border-l-2 shadow-2xl rounded-l-2xl w-11/12 md:w-96 fixed h-screen hidden bg-white text-black">
           <div class="relative">
                <div  class="text-3xl absolute w-full font-bold top-7">
                    <h1 class="text-center">Cart</h1>
                </div>
                <div class="absolute right-0 font-bold mr-4 mt-4 text-lg"  id="close">
                    <h1 class="hover:cursor-pointer"><a id="close-cart">X</a></h1>
                </div>
           </div>


           <div id="cart-items" class="border-b-2 border-t-2 container max-w-full h-3/4 md:h-3/5 mt-20 pl-3 flex-col overflow-y-auto">
                {% for cart in cart_items %}
                    <hr class="mt-10 border-4 hr-{{cart.cart_id}}">
                    <div id="card-cart-item" class="h-20 mt-5 cart-{{cart.cart_id}} ">
                        <img class="w-1/5 float-start mr-7" src="{{ cart.item_info.item_image.url }}" alt="Error">
                        <div class="flex flex-col mt-2">
                            <a id="{{cart.cart_id}}" class="hover:cursor-pointer text-right font-bold mr-4" onclick="delete_item(this)">Remove</a>
                            <h1 class="mt-1">{{cart.item_info.item_name}}</h1>
                            <div class="mt-5">
                                <button class="bg-slate-950 w-8 h-8 text-white rounded-md">-</button>
                                    <input class="w-24 border-2 h-8 rounded-md text-center" value="{{cart.cart_item_quantity}}" type="number">
                                <button class="bg-slate-950 w-8 h-8 text-white rounded-md">+</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button class="rounded-md right-20 h-12 w-52 absolute bottom-10 bg-slate-950 text-white">Place Order</button>
           </div>
    </div>
    
    <!--Menu-->
    <div id="menu-content" class="right-0 bottom-0 border-l-2 shadow-2xl rounded-l-2xl w-11/12 md:w-96 fixed h-screen hidden bg-white text-black">
        <div class="relative">
            <div  class="text-3xl absolute w-full font-bold top-7">
                <h1 class="text-center">Menu</h1>
            </div>
                <div class="absolute right-0 font-bold mr-4 mt-4 text-lg"  id="close">
                 <h1 class="hover:cursor-pointer"><a id="close-menu">X</a></h1>
             </div>
             <nav class="absolute left-0 top-24 text-2xl ml-2">
                <ul class="flex flex-col container max-w-full">
                    {% if login %}
                        <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
                        <li class="mt-4"><a href="#">Profile</a></li>
                    {% else %}
                        <li><a href="{% url 'sign_in' %}">Sign In</a></li>
                    {% endif %}
                    <li class=" mt-4"><a href="#">Categories</a></li>
                </ul>
             </nav>
        </div>
    </div>

    <script>
        const cart = document.querySelector('#cart')
        const cart_content = document.querySelector('#cart-content')
        const close_cart = document.querySelector('#close-cart')

        const menu = document.querySelector('#menu')
        const menu_content = document.querySelector('#menu-content')
        const close_menu = document.querySelector('#close-menu')

        function display(element, value){
            element.style.display = value
        }

        function showCart(){
            display(cart_content, 'block')
            display(menu_content, 'none')
        }

        cart.addEventListener('click', () => {
            display(cart_content, 'block')
            display(menu_content, 'none')
        })


        close_cart.addEventListener('click', () => {
            display(cart_content, 'none')
        })


        menu.addEventListener('click', () => {
            display(menu_content, 'block')
            display(cart_content, 'none')
        })

        close_menu.addEventListener('click', () => {
            display(menu_content, 'none')
        })

        
//im practicing using XMLHttpRequest thats whu i dont use function for XMLHttp even the code is reapeting
        function add_item(_this){
            const request = new XMLHttpRequest
            request.open('POST', 'http://127.0.0.1:8000/api/cart/add-item/', true)
            request.setRequestHeader('Content-Type', 'application/json')
            request.send(JSON.stringify({id : _this.getAttribute('value-id')}))
        }


        function delete_item(_this){
            const request = new XMLHttpRequest
            request.open('POST', 'http://127.0.0.1:8000/api/cart/delete-item')
            request.setRequestHeader('Content-Type', 'application/json')
            request.send(JSON.stringify({cart_id : _this.getAttribute('id')}))
            
            const cart_id = _this.getAttribute('id')
            document.querySelector(`.cart-${cart_id}`).style.display = 'none'
            document.querySelector(`.hr-${cart_id}`).style.display = 'none'
        }


        
    </script>
{% endblock %}
