{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Header Part{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block add-style-link %}
        
    {% endblock %}
    
</head>
<body class="bg-gray-50 relative">
    {% block header %}
    <header class="container sticky top-0 max-w-full flex flex-col md:flex-row md:justify-between text-white bg-slate-950 py-2">
        <h1 class="text-2xl text-center md:text-left md:ml-5">Ecommerce Website</h1>
        <nav class="md:mr-10">
            {% block nav-link %}
                <ul class="flex justify-center md:justify-normal mt-2 font-bold">
                    <li class="mr-8"><a href="{% url 'shop' %}">Shop</a></li>
                    <li><a href="{% url 'sign_in' %}">Sign In</a></li>
                </ul>
            {% endblock %}
        </nav>
    </header>
    {% endblock %}

    {% block content %}
        
    {% endblock %}
</body>
</html>