{% extends 'main/base.html' %}
{% load static %}


    {% block nav-link %}
        <ul class="flex justify-center md:justify-normal mt-2 font-bold">
            <li class="mr-8"><a href="{% url 'shop' %}">Shop</a></li>
        {% if login %}
            <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
        {% else %}
            <li><a href="{% url 'sign_in' %}">Sign In</a></li>
        {% endif %}

        </ul>
        
    {% endblock %}

{% block content %}
    <div class="md:flex  mt-10 container max-w-full relative" id="img-content-container">
        <div class="ml-3 md:ml-10 md:mt-10">
            <h1 class="font-bold text-slate-950 text-2xl md:text-4xl md:w-11/12">Discover amazing deals on our ecommerce website!
        </div>
        <button id='button' class="md:left-72 md:top-40 md:text-2xl md:w-52 md:h-16  w-40 hover:text-gray-300 sm:text-xl rounded-full h-12 bg-slate-950 text-white left-2 top-32 font-bold text-xl absolute" value-href="{% url 'shop' %}">Shop Now</button>
        <img class="mt-5 ml-4 md:ml-0 md:mr-10" src="{% static 'img/shoping_model1.png' %}" alt="gitl with a shoping bag">
    </div>

    <script>
        const button = document.querySelector('#button')
        
        button.addEventListener('click', () => {
            window.location = button.getAttribute('value-href')
        })
    </script>
{% endblock %}